.question-edit {
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    .mat-checkbox {
        width: fit-content;
    }
    .asnwer-edit-container {
        button {
            margin: 15px 0;
        }
    }
}
