<main class="width-container">
    <button routerLink="/test/edit">ADD QUIZ</button>
    <!-- <section class="flex a-center j-center">
        <h2>is Sort? {{filterBy.isSort}}</h2>
        <input type="checkbox" [(ngModel)]="filterBy.isSort" (change)="onSelected()" name="" id="">
    </section>
    <section class="flex a-center j-center">
        <h2>{{filterBy.isSort? 'sortBy:' : 'filterBy:'}}</h2>
        <select [(ngModel)]="filterBy.type" (change)="onSelected()" name="" id="">
            <option *ngFor="let option of selectOptions" [ngValue]="option.value">{{option.name}}</option>
        </select>
    </section> -->
    <test-list class="test-list"[tests]="tests"></test-list>
</main>