main {
    height: 80vh;
    padding: 20px;

    .test-filter {

        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100vw;
        // height: 100vh;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
    position: relative;
    .btn-container {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    button {
        // z-index: 1;
        // width: 80px;
        // height: 80px;
        // .mat-icon {
        //     transform: scale(1.5);
        //     color: white;
        // }
    }

    // .test-list {
    //     // background-color: red;
    //     display: grid;
    //     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    //     gap: 10px;
    //     .test-preview {
    //         cursor: pointer;
    //         height: 150px;
    //         border-radius: 3px;
    //         // width: 300px;
    //         // background-color: blue;
    //         box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    //         transition: box-shadow 0.3s;
    //         &:hover {
    //             box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    //         }
    //     }
    // }
}
