<main class="width-container" *ngIf="test && user">
  <div>
    <div class="flex bet a-center">
      <h2 class="hellow-user">
        {{ user._id === loggedinUser._id ? "שלום," : "הדף של" }} {{ user.name }}
      </h2>
      <div class="links-container">
        <a mat-flat-button routerLink="/user/{{ user._id }}">לכל המבחנים</a>
        <a
          class="m-i-start-1ch"
          mat-flat-button
          *ngIf="user._id === loggedinUser._id"
          routerLink="/test/{{ test._id }}"
          >גש למבחן</a
        >
      </div>
    </div>
    <div>
      <h1>ניתוח תוצאות המבחן שלך</h1>
      <h2>
        הציון שלך: {{ score }}
        <span
          class="score-from-answered"
          *ngIf="userTest.totalAnswered && score !== scoreFromAnswered"
        >
          ( מתוך השאלות שענית:
          {{ scoreFromAnswered }}
          )
        </span>
      </h2>
      <h3 *ngIf="userTest.timeLimit">
        עשית מבחן זה תוך:
        <show-time [time]="userTest.timeLimit - userTest.timeLeft"></show-time>
      </h3>
    </div>

    <question-list
      [questions]="test.questions"
      [userQuestions]="userTest.questions"
    ></question-list>
  </div>
  <div></div>
  <div class="chart-container">
    <h2>סטטיסטיקות</h2>
    <div class="score-avarage-container" *ngIf="test.activities.length > 1">
      <h3>
        הציון הממוצע: {{ scoreAvarage }}
        <span>
          (
          {{ test.activities.length }} <mat-icon>people</mat-icon> )
        </span>
      </h3>
      <quiz-chart class="quiz-chart" [chart]="avarageScoreChart"></quiz-chart>
    </div>
    <quiz-chart class="quiz-chart" [chart]="correctChart"></quiz-chart>
    <quiz-chart class="quiz-chart" [chart]="timetTestChart"></quiz-chart>
  </div>
</main>
