<section
  *ngIf="test"
  class="width-container"
  [ngClass]="{ disable: test.timeLimit && !userTest.timeLeft }"
>
  <h1>שם המבחן: {{ test.title }}</h1>
  <ng-container *ngIf="!isStartQuiz; else startQuiz">
    <button (click)="isStartQuiz = true">Start Quiz</button>
  </ng-container>
  <ng-template #startQuiz>
    <timer
      *ngIf="test.timeLimit"
      (updateTime)="updateTime($event)"
      [timeLeft]="userTest.timeLeft"
    ></timer>
    <h3>סה"כ תשובות שנענו: {{ test.totalAnswered }}</h3>
    <h3>סה"כ תשובות נכונות: {{ test.totalCorrectAnswered }}</h3>
    <question-list
      (updateScore)="updateScore()"
      [questions]="test.questions"
      [userQuestions]="userTest.questions"
      [isActive]="true"
      [isTimeLimit]="test.timeLimit && !userTest.timeLeft"
    ></question-list>
    <section class="flex a-center j-center">
      <button (click)="restartTest()">אתחול המבחן</button>
      <button (click)="sendTest()">הגשת המבחן / סיימתי</button>
    </section>
  </ng-template>
</section>
