<form *ngIf="test" class="width-container example-form">
  <section class="controller grid">
    <button
      mat-fab
      color="basic"
      matTooltip="שמירה"
      (click)="saveTest()"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      
      mat-fab
      color="warn"
      [matTooltip]="test._id ? 'מחיקה' : 'ניקוי'"
      (click)="test._id ? removeTest() : clearTest()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>

  <h1>יצירת שאלון</h1>

  <!-- <textarea (input)="onInputTextArea($event)"></textarea> -->
  <section class="flex col a-start j-start m-b-end-2ch">
    <mat-form-field>
      <mat-label>כותרת לשאלון</mat-label>
      <input
        type="text"
        matInput
        placeholder="הזן כותרת למבחן"
        [(ngModel)]="test.title"
        name="title"
      />
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <section>
      <mat-checkbox [matTooltip]="isTimeLimit? 'הסר הגבלת זמן' : 'התר  הגבלת זמן'" color="warn" [(ngModel)]="isTimeLimit" name="isTimeLimit">
      </mat-checkbox>
      <mat-form-field>
        <mat-label>הגבלת זמן</mat-label>
        <input
          [disabled]="!isTimeLimit"
          type="number"
          matInput
          [min]="0"
          [(ngModel)]="test.timeLimit"
          name="timeLimit"
        />
        <mat-icon matSuffix>timer</mat-icon>
      </mat-form-field>
    </section>
  </section>

  <button class="mat-btn-large m-b-end-2ch" mat-flat-button (click)="addQuestion()">הוסף שאלה</button>
  <question-nav
    [questions]="test.questions"
    [currQuestionIdx]="currQuestionIdx"
    (emitChangeCurrQuestionIdx)="changeCurrQuestionIdx($event)"
  ></question-nav>

  <section class="flex col bet w100 h100">
    <question-edit
      (removeQuestion)="removeQuestion($event)"
      [question]="test.questions[currQuestionIdx]"
    ></question-edit>
    <section class="btn-wrapper flex a-center bet">
      <button
        mat-stroked-button
        [disabled]="currQuestionIdx === 0"
        (click)="changeCurrQuestionIdx(-1)"
      >
        <mat-icon>chevron_right</mat-icon>
        הקודם
      </button>
      <button
        mat-stroked-button
        [disabled]="currQuestionIdx === test.questions.length - 1"
        (click)="changeCurrQuestionIdx(1)"
      >
        הבא
        <mat-icon>chevron_left</mat-icon>
      </button>
    </section>
  </section>
</form>
