// COLOR PALETTE
$clr1: #0e0c28;
$clr2: #242849;
$clr3: #991212;
$clr4: #7ec8e3;
$clr5: #eefbff;
$clr6: #77bdd6;
$clr7: #68b0c9;
$clr8: #f6fdff;
$clr9: #e7f3ff;
$clr10: #ffc9c9;
$clr11: #a4aadb;

// BLUE

$blue1: #0e0c28;
$blue2: #242849;
$blue3: #68b0c9;
$blue4: #77bdd6;
$blue5: #7ec8e3;
$blue6: #a4aadb;
$blue7: #eefbff;
$blue8: #f6fdff;

// RED

$red1: #991212;
$red2: #ff6e6e;
$red3: #ffc9c9;
$red4: #ffecec;

$gray1: #586163;
$gray2: #3d474b;
$gray3: #283134;

$gray4: #58616328;
$gray5: #58616315;

$green1: rgb(0, 255, 0);

$primary-color: #1a237e;
$dark-primary-color: #0f1041;
$accent-color: #2962ff;
$sub-yellow: #ffca00;

$width-nav-kit: 230px;

// BOX-SHADOW
$shadow1: 0px 0px 1px 1px #00000026;
$shadow2: 0px 0px 3px 1px #00000026;
$shadow3: 0px 0px 4px 1px #00000026;

$sdw1: 0 0 5px #00000029;;
$sdw2: 0px 0px 4px 1px #00000026;
// BORDER
$border1: 1px solid #24284930;

// LAYOUT BREAKPOINTS
$break-mini-mobile: 330px;
$break-medium-mobile: 480px;
$break-mobile: 680px;
$break-narrow: 880px;
$break-normal: 1020px;
$break-wide: 1400px;

