main {
    h2 {
        // margin: 0;
        opacity: .6;
        transition:  opacity .5s;
        &.hidden {
            opacity: 0;
        }
    }
    header {
        position: relative;
        height: 100px;
        .filter {
            transition: width .3s;
            width: 50%;
            position: absolute;
            left: 0;
            &.focus {
                width: 100%;
            }
        }
    }
    .test-list {
        // background-color: red;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        .test-preview {
            cursor: pointer;
            height: 150px;
            border-radius: 3px;
            // width: 300px;
            // background-color: blue;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            transition: box-shadow .3s;
            &:hover {
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
            }
        }
    }
}