<section
  class="test-preview flex col a-center j-center"
>
  <h3 class="flex a-center j-center">
    {{ test.title }}
  </h3>

  <!-- <section *ngIf="test.activities && test.activities.length">
    <h5>מספר הניגשים למבחן: {{test.activities.length}}</h5>
    <h5>ממוצע הציונים עד כה: {{scoreAvarage}}</h5>
  </section> -->

  <section class="flex a-center w100 evenly m-b-start-1ch" *ngIf="test.totalAnswered; else visitOnly">
    <h5 class="flex a-center j-center">{{score}}</h5> 
    <span  *ngIf="test.timeLimit">|</span>
    <h5 *ngIf="test.timeLimit"> <show-time [time]="test.timeLimit - test.timeLeft"></show-time></h5>
  </section>
  <ng-template #visitOnly>
    <h5>
      <mat-icon>visibility</mat-icon>
    </h5>
  </ng-template>
  
</section>
